# Weather Data Analysis: 
## We are analysing the Edinburgh weather data for the year 2015

# Load the libraries

In [1]:
import pandas as pd
from dateutil import parser, rrule
from datetime import datetime, time, date
import time

# Read the data

In [2]:
df = pd.read_csv('IEDINBUR6_weather.csv')
print(df.head())
print(df.columns)
print(df.shape)                                        # (101443, 18)

   Unnamed: 0                 Time  TemperatureC  DewpointC  PressurehPa  \
0           0  2015-01-01 00:00:00          10.3        4.5       1001.9
1           1  2015-01-01 00:06:00          10.2        4.4       1001.9
2           2  2015-01-01 00:11:00          10.2        4.4       1001.9
3           3  2015-01-01 00:16:00          10.2        4.4       1001.9
4           4  2015-01-01 00:21:00          10.2        4.6       1002.3

  WindDirection  WindDirectionDegrees  WindSpeedKMH  WindSpeedGustKMH  \
0            SW                   236           9.0              11.9
1            SW                   226           6.9               7.9
2           SSW                   202           7.2              15.8
3           SSW                   202           7.9              11.9
4         South                   174           4.3               7.9

   Humidity  HourlyPrecipMM  Conditions  Clouds  dailyrainMM  \
0        67             0.0         NaN     NaN          0.0
1        67             0.0         NaN     NaN          0.0
2        67             0.0         NaN     NaN          0.0
3        67             0.0         NaN     NaN          0.0
4        68             0.0         NaN     NaN          0.0

   SolarRadiationWatts/m^2   SoftwareType              DateUTC    station
0                      0.0  HP1001 V1.1.3  2015-01-01 00:00:00  IEDINBUR6
1                      0.0  HP1001 V1.1.3  2015-01-01 00:06:00  IEDINBUR6
2                      0.0  HP1001 V1.1.3  2015-01-01 00:11:00  IEDINBUR6
3                      0.0  HP1001 V1.1.3  2015-01-01 00:16:00  IEDINBUR6
4                      0.0  HP1001 V1.1.3  2015-01-01 00:21:00  IEDINBUR6
Index(['Unnamed: 0', 'Time', 'TemperatureC', 'DewpointC', 'PressurehPa',
       'WindDirection', 'WindDirectionDegrees', 'WindSpeedKMH',
       'WindSpeedGustKMH', 'Humidity', 'HourlyPrecipMM', 'Conditions',
       'Clouds', 'dailyrainMM', 'SolarRadiationWatts/m^2', 'SoftwareType',
       'DateUTC', 'station'],
      dtype='object')
(101443, 18)

# Rename the variables to small meaningful names + convert types as needed!

In [3]:
df['temp'] = df['TemperatureC'].astype(float)                                     # In degree Celsius
df['rain'] = df['HourlyPrecipMM'].astype(float)                                   # In mm                            
df['total_rain'] = df['dailyrainMM'].astype(float)                                # In mm
df['date'] = df['DateUTC'].apply(parser.parse)
df['humidity'] = df['Humidity'].astype(float)
df['wind_direction'] = df['WindDirectionDegrees']
df['wind'] = df['WindSpeedKMH']

# Extract specific data and also specify appropriate column sequence

In [4]:
df_new = df.loc[:, ['date', 'station', 'temp', 'rain', 'total_rain', 'humidity', 'wind']]
print(df_new)
print(df_new.shape)                          # (101443, 7)  

# Observe that the data is recorded approximately every 5 min.

                      date    station   temp  rain  total_rain  humidity  \
0      2015-01-01 00:00:00  IEDINBUR6   10.3   0.0         0.0      67.0
1      2015-01-01 00:06:00  IEDINBUR6   10.2   0.0         0.0      67.0
2      2015-01-01 00:11:00  IEDINBUR6   10.2   0.0         0.0      67.0
3      2015-01-01 00:16:00  IEDINBUR6   10.2   0.0         0.0      67.0
4      2015-01-01 00:21:00  IEDINBUR6   10.2   0.0         0.0      68.0
5      2015-01-01 00:26:00  IEDINBUR6   10.2   0.0         0.0      68.0
6      2015-01-01 00:31:00  IEDINBUR6   10.1   0.0         0.0      69.0
7      2015-01-01 00:36:00  IEDINBUR6   10.1   0.0         0.0      69.0
8      2015-01-01 00:41:00  IEDINBUR6   10.1   0.0         0.0      70.0
9      2015-01-01 00:47:00  IEDINBUR6   10.1   0.0         0.0      70.0
10     2015-01-01 00:52:00  IEDINBUR6   10.1   0.0         0.0      70.0
11     2015-01-01 00:57:00  IEDINBUR6   10.0   0.0         0.0      70.0
12     2015-01-01 01:03:00  IEDINBUR6   10.0   0.0         0.0      70.0
13     2015-01-01 01:08:00  IEDINBUR6    9.9   0.0         0.0      71.0
14     2015-01-01 01:13:00  IEDINBUR6   10.1   0.0         0.0      70.0
15     2015-01-01 01:19:00  IEDINBUR6   10.0   0.0         0.0      70.0
16     2015-01-01 01:24:00  IEDINBUR6   10.0   0.0         0.0      69.0
17     2015-01-01 01:29:00  IEDINBUR6   10.0   0.0         0.0      69.0
18     2015-01-01 01:35:00  IEDINBUR6    9.9   0.0         0.0      70.0
19     2015-01-01 01:40:00  IEDINBUR6    9.9   0.0         0.0      69.0
20     2015-01-01 01:45:00  IEDINBUR6    9.9   0.0         0.0      69.0
21     2015-01-01 01:51:00  IEDINBUR6    9.9   0.0         0.0      69.0
22     2015-01-01 01:56:00  IEDINBUR6   10.0   0.0         0.0      69.0
23     2015-01-01 02:01:00  IEDINBUR6   10.0   0.0         0.0      68.0
24     2015-01-01 02:07:00  IEDINBUR6   10.0   0.0         0.0      68.0
25     2015-01-01 02:12:00  IEDINBUR6   10.0   0.0         0.0      67.0
26     2015-01-01 02:17:00  IEDINBUR6   10.0   0.0         0.0      67.0
27     2015-01-01 02:23:00  IEDINBUR6   10.0   0.0         0.0      68.0
28     2015-01-01 02:28:00  IEDINBUR6   10.0   0.0         0.0      68.0
29     2015-01-01 02:33:00  IEDINBUR6   10.0   0.0         0.0      68.0
...                    ...        ...    ...   ...         ...       ...
101413 2015-12-31 21:16:00  IEDINBUR6    4.0   0.0        12.2      76.0
101414 2015-12-31 21:22:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101415 2015-12-31 21:27:00  IEDINBUR6    3.8   0.0        12.2      77.0
101416 2015-12-31 21:32:00  IEDINBUR6    3.8   0.0        12.2      77.0
101417 2015-12-31 21:38:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101418 2015-12-31 21:43:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101419 2015-12-31 21:48:00  IEDINBUR6    3.8   0.0        12.2      73.0
101420 2015-12-31 21:53:00  IEDINBUR6    3.8   0.0        12.2      72.0
101421 2015-12-31 21:58:00  IEDINBUR6    3.8   0.0        12.2      71.0
101422 2015-12-31 22:03:00  IEDINBUR6    3.8   0.0        12.2      71.0
101423 2015-12-31 22:09:00  IEDINBUR6    3.8   0.0        12.2      71.0
101424 2015-12-31 22:14:00  IEDINBUR6    3.7   0.0        12.2      72.0
101425 2015-12-31 22:19:00  IEDINBUR6    3.6   0.0        12.2      72.0
101426 2015-12-31 22:25:00  IEDINBUR6    3.5   0.0        12.2      73.0
101427 2015-12-31 22:30:00  IEDINBUR6    3.5   0.0        12.2      73.0
101428 2015-12-31 22:35:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101429 2015-12-31 22:40:00  IEDINBUR6    3.2   0.0        12.2      73.0
101430 2015-12-31 22:46:00  IEDINBUR6    3.2   0.0        12.2      73.0
101431 2015-12-31 22:51:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101432 2015-12-31 22:57:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101433 2015-12-31 23:02:00  IEDINBUR6    3.0   0.0        12.2      72.0
101434 2015-12-31 23:07:00  IEDINBUR6    3.0   0.0        12.2      72.0
101435 2015-12-31 23:13:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101436 2015-12-31 23:18:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101437 2015-12-31 23:23:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101438 2015-12-31 23:29:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101439 2015-12-31 23:34:00  IEDINBUR6    2.9   0.0        12.2      68.0
101440 2015-12-31 23:45:00  IEDINBUR6 -573.3   0.0        12.2   -9999.0
101441 2015-12-31 23:50:00  IEDINBUR6    3.1   0.0        12.2      74.0
101442 2015-12-31 23:55:00  IEDINBUR6    3.0   0.0        12.2      74.0

          wind
0          9.0
1          6.9
2          7.2
3          7.9
4          4.3
5         11.6
6         11.9
7         10.5
8         15.4
9         11.6
10        11.6
11        10.5
12        11.6
13        13.4
14         9.7
15        18.0
16         9.7
17        16.6
18        14.3
19        13.0
20        10.5
21        19.8
22        10.8
23        13.0
24         9.0
25        13.4
26        14.3
27        14.3
28        16.6
29        21.6
...        ...
101413    10.5
101414 -1608.8
101415    14.8
101416    14.8
101417 -1608.8
101418 -1608.8
101419    11.9
101420    14.3
101421    24.8
101422     5.5
101423    10.5
101424     4.3
101425     9.7
101426     7.9
101427     7.9
101428 -1608.8
101429    14.8
101430    14.8
101431 -1608.8
101432 -1608.8
101433     5.5
101434     5.5
101435 -1608.8
101436 -1608.8
101437 -1608.8
101438 -1608.8
101439     1.8
101440 -1608.8
101441     4.7
101442    10.5

[101443 rows x 7 columns]
(101443, 7)

# Data pruning and cleaning

In [5]:
# Ensure that we are handling data only for 2015. 
df_new = df_new[(df_new['date'] >= datetime(2015,1,1)) & (df_new['date'] <= datetime(2015,12,31))]    # Dates: YYYY,MM,DD
print(df_new.shape)                # Rows reduced from (101443, 7) ---> (101169, 7)


# There are few readings where the parameter 'rain' is negative (-2539.7) where the actual values are missing. 
# lets get rid of such readings

(101169, 7)

In [6]:
# First get the original row count
print(df_new.shape)                   # (101169, 7)  

# Get rid of the missing values i.e. values of 'rain' which are negative 
df_new = df_new[df_new.rain > -500]
print(df_new.head())

# Now get the final row count
print(df_new.shape)                  # (101168, 7)   

# i.e. there was a single row where the reading for 'rain' was missing

(101169, 7)
                 date    station  temp  rain  total_rain  humidity  wind
0 2015-01-01 00:00:00  IEDINBUR6  10.3   0.0         0.0      67.0   9.0
1 2015-01-01 00:06:00  IEDINBUR6  10.2   0.0         0.0      67.0   6.9
2 2015-01-01 00:11:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.2
3 2015-01-01 00:16:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.9
4 2015-01-01 00:21:00  IEDINBUR6  10.2   0.0         0.0      68.0   4.3
(101168, 7)

In [7]:
# Assign "Day" to every "Date" entry i.e. Fetch the Date exclusive
df_new['day'] = df_new['date'].apply(lambda x: x.date())
df_new.head()

# NOTE: the apply() is used to apply a function to a DataFrame axis.

,date,station,temp,rain,total_rain,humidity,wind,day
0,2015-01-01 00:00:00,IEDINBUR6,10.3,0.0,0.0,67.0,9.0,2015-01-01
1,2015-01-01 00:06:00,IEDINBUR6,10.2,0.0,0.0,67.0,6.9,2015-01-01
2,2015-01-01 00:11:00,IEDINBUR6,10.2,0.0,0.0,67.0,7.2,2015-01-01
3,2015-01-01 00:16:00,IEDINBUR6,10.2,0.0,0.0,67.0,7.9,2015-01-01
4,2015-01-01 00:21:00,IEDINBUR6,10.2,0.0,0.0,68.0,4.3,2015-01-01

In [8]:
# Fetch the time, day of week and hour of each timestamp 
df_new['time_of_day'] = df['date'].apply(lambda x: x.time())        
df_new['day_of_week'] = df['date'].apply(lambda x: x.weekday())     # Monday == 0 and Sunday == 6
df_new['hour_of_day'] = df['date'].apply(lambda x: x.hour)          # Ranges from [0-23] 
print(df_new.head())

# NOTE: All these datetime operations were possible, as the datatype of 'date' column is [Timestamp].
print(type(df_new.date[0]))

                 date    station  temp  rain  total_rain  humidity  wind  \
0 2015-01-01 00:00:00  IEDINBUR6  10.3   0.0         0.0      67.0   9.0
1 2015-01-01 00:06:00  IEDINBUR6  10.2   0.0         0.0      67.0   6.9
2 2015-01-01 00:11:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.2
3 2015-01-01 00:16:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.9
4 2015-01-01 00:21:00  IEDINBUR6  10.2   0.0         0.0      68.0   4.3

          day time_of_day  day_of_week  hour_of_day
0  2015-01-01    00:00:00            3            0
1  2015-01-01    00:06:00            3            0
2  2015-01-01    00:11:00            3            0
3  2015-01-01    00:16:00            3            0
4  2015-01-01    00:21:00            3            0
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [9]:
# To view monthly patterns, mark the 'Month' for each entry
df_new['month'] = df['date'].apply(lambda x: x.month)         # Ranges from [1-12]
print(df_new.head())

                 date    station  temp  rain  total_rain  humidity  wind  \
0 2015-01-01 00:00:00  IEDINBUR6  10.3   0.0         0.0      67.0   9.0
1 2015-01-01 00:06:00  IEDINBUR6  10.2   0.0         0.0      67.0   6.9
2 2015-01-01 00:11:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.2
3 2015-01-01 00:16:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.9
4 2015-01-01 00:21:00  IEDINBUR6  10.2   0.0         0.0      68.0   4.3

          day time_of_day  day_of_week  hour_of_day  month
0  2015-01-01    00:00:00            3            0      1
1  2015-01-01    00:06:00            3            0      1
2  2015-01-01    00:11:00            3            0      1
3  2015-01-01    00:16:00            3            0      1
4  2015-01-01    00:21:00            3            0      1

In [10]:
# Verify if each time stamp is on a working day
df_new['working_day'] = (df_new['day_of_week'] >=0) & (df_new['day_of_week'] <= 4)
print(df_new.head())

# NOTE: In pandas we always make use of the bitwise operators: |(or), & (and), in place of the conventional "and" and "or" operators.

                 date    station  temp  rain  total_rain  humidity  wind  \
0 2015-01-01 00:00:00  IEDINBUR6  10.3   0.0         0.0      67.0   9.0
1 2015-01-01 00:06:00  IEDINBUR6  10.2   0.0         0.0      67.0   6.9
2 2015-01-01 00:11:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.2
3 2015-01-01 00:16:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.9
4 2015-01-01 00:21:00  IEDINBUR6  10.2   0.0         0.0      68.0   4.3

          day time_of_day  day_of_week  hour_of_day  month  working_day
0  2015-01-01    00:00:00            3            0      1         True
1  2015-01-01    00:06:00            3            0      1         True
2  2015-01-01    00:11:00            3            0      1         True
3  2015-01-01    00:16:00            3            0      1         True
4  2015-01-01    00:21:00            3            0      1         True

In [11]:
# Classify the time into morning and evening office times. 
# Assume morning office time:------------------> (8:15-9:00 AM) 
# Assume evening office time:------------------> (5:15-6:00 PM)
 
from datetime import time               # Again import esp if you have imported datetime's time and the separate time library.
df_new['morning'] = (df_new['time_of_day'] >= time(8, 15)) & (df_new['time_of_day'] <= time(9, 0))
df_new['evening'] = (df_new['time_of_day'] >= time(17, 15)) & (df_new['time_of_day'] <= time(18, 0))
print(df_new.head())

                 date    station  temp  rain  total_rain  humidity  wind  \
0 2015-01-01 00:00:00  IEDINBUR6  10.3   0.0         0.0      67.0   9.0
1 2015-01-01 00:06:00  IEDINBUR6  10.2   0.0         0.0      67.0   6.9
2 2015-01-01 00:11:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.2
3 2015-01-01 00:16:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.9
4 2015-01-01 00:21:00  IEDINBUR6  10.2   0.0         0.0      68.0   4.3

          day time_of_day  day_of_week  hour_of_day  month  working_day  \
0  2015-01-01    00:00:00            3            0      1         True
1  2015-01-01    00:06:00            3            0      1         True
2  2015-01-01    00:11:00            3            0      1         True
3  2015-01-01    00:16:00            3            0      1         True
4  2015-01-01    00:21:00            3            0      1         True

   morning  evening
0    False    False
1    False    False
2    False    False
3    False    False
4    False    False

In [12]:
# Mark if there is any rain at all
df_new['raining'] = df_new['rain'] > 0.0
print(df_new.head())

                 date    station  temp  rain  total_rain  humidity  wind  \
0 2015-01-01 00:00:00  IEDINBUR6  10.3   0.0         0.0      67.0   9.0
1 2015-01-01 00:06:00  IEDINBUR6  10.2   0.0         0.0      67.0   6.9
2 2015-01-01 00:11:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.2
3 2015-01-01 00:16:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.9
4 2015-01-01 00:21:00  IEDINBUR6  10.2   0.0         0.0      68.0   4.3

          day time_of_day  day_of_week  hour_of_day  month  working_day  \
0  2015-01-01    00:00:00            3            0      1         True
1  2015-01-01    00:06:00            3            0      1         True
2  2015-01-01    00:11:00            3            0      1         True
3  2015-01-01    00:16:00            3            0      1         True
4  2015-01-01    00:21:00            3            0      1         True

   morning  evening  raining
0    False    False    False
1    False    False    False
2    False    False    False
3    False    False    False
4    False    False    False

In [13]:
# Mark if the person is subjected to 'wet cycling' if its the morning office travel time and if its raining @ that time
df_new['wet_cycle'] = (df_new['working_day']) & ((df_new['morning'] & df_new['raining'])|
                                                 (df_new['evening'] & df_new['raining']))
print(df_new.head())

                 date    station  temp  rain  total_rain  humidity  wind  \
0 2015-01-01 00:00:00  IEDINBUR6  10.3   0.0         0.0      67.0   9.0
1 2015-01-01 00:06:00  IEDINBUR6  10.2   0.0         0.0      67.0   6.9
2 2015-01-01 00:11:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.2
3 2015-01-01 00:16:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.9
4 2015-01-01 00:21:00  IEDINBUR6  10.2   0.0         0.0      68.0   4.3

          day time_of_day  day_of_week  hour_of_day  month  working_day  \
0  2015-01-01    00:00:00            3            0      1         True
1  2015-01-01    00:06:00            3            0      1         True
2  2015-01-01    00:11:00            3            0      1         True
3  2015-01-01    00:16:00            3            0      1         True
4  2015-01-01    00:21:00            3            0      1         True

   morning  evening  raining  wet_cycle
0    False    False    False      False
1    False    False    False      False
2    False    False    False      False
3    False    False    False      False
4    False    False    False      False

### Now the data is clean and ready for analysis

# DATA SUMMARIZATION AND AGGREGATION:
In order to gain insight from the data, we will aggregate/ group over days and months.

In [14]:
# Fetch the column names
print(df_new.columns)


# Focus on the working days which had rains during office commute hours.
series_wetCycling = df_new[df_new['working_day'] == True].groupby('day')['wet_cycle'].any()     # any() returns a boolean whether any element is True over requested axis
df_wetCycling = pd.DataFrame(series_wetCycling).reset_index()
print(df_wetCycling)

Index(['date', 'station', 'temp', 'rain', 'total_rain', 'humidity', 'wind',
       'day', 'time_of_day', 'day_of_week', 'hour_of_day', 'month',
       'working_day', 'morning', 'evening', 'raining', 'wet_cycle'],
      dtype='object')
            day  wet_cycle
0    2015-01-01       True
1    2015-01-02      False
2    2015-01-05      False
3    2015-01-06       True
4    2015-01-07       True
5    2015-01-08      False
6    2015-01-09       True
7    2015-01-12       True
8    2015-01-13      False
9    2015-01-14      False
10   2015-01-15      False
11   2015-01-16      False
12   2015-01-19      False
13   2015-01-20      False
14   2015-01-21      False
15   2015-01-22      False
16   2015-01-23       True
17   2015-01-26      False
18   2015-01-27      False
19   2015-01-28      False
20   2015-01-29      False
21   2015-01-30      False
22   2015-02-02      False
23   2015-02-03      False
24   2015-02-04      False
25   2015-02-05      False
26   2015-02-06      False
27   2015-02-09      False
28   2015-02-10      False
29   2015-02-11      False
..          ...        ...
230  2015-11-19      False
231  2015-11-20      False
232  2015-11-23      False
233  2015-11-24      False
234  2015-11-25      False
235  2015-11-26      False
236  2015-11-27      False
237  2015-11-30      False
238  2015-12-01       True
239  2015-12-02       True
240  2015-12-03       True
241  2015-12-04       True
242  2015-12-07      False
243  2015-12-08       True
244  2015-12-09       True
245  2015-12-10      False
246  2015-12-11      False
247  2015-12-14      False
248  2015-12-15      False
249  2015-12-16      False
250  2015-12-17      False
251  2015-12-18      False
252  2015-12-21      False
253  2015-12-22       True
254  2015-12-23      False
255  2015-12-24      False
256  2015-12-25       True
257  2015-12-28      False
258  2015-12-29      False
259  2015-12-30       True

[260 rows x 2 columns]

In [15]:
# Instead of the individual dates [too much granularity], lets group by months 
# First extract the months from the date
df_wetCycling['month'] = df_wetCycling['day'].apply(lambda x: x.month)
print(df_wetCycling.head())

# Now group on months
df_monthWise_wetCycling = df_wetCycling.groupby('month')['wet_cycle'].value_counts().reset_index(name='days')
df_monthWise_wetCycling

          day  wet_cycle  month
0  2015-01-01       True      1
1  2015-01-02      False      1
2  2015-01-05      False      1
3  2015-01-06       True      1
4  2015-01-07       True      1

    month  wet_cycle  days
0       1      False    16
1       1       True     6
2       2      False    19
3       2       True     1
4       3      False    18
5       3       True     4
6       4      False    21
7       4       True     1
8       5      False    16
9       5       True     5
10      6      False    21
11      6       True     1
12      7      False    21
13      7       True     2
14      8      False    18
15      8       True     3
16      9      False    21
17      9       True     1
18     10      False    19
19     10       True     3
20     11      False    13
21     11       True     8
22     12      False    13
23     12       True     9

In [16]:
# Rename the columns
df_monthWise_wetCycling.rename(columns={'wet_cycle':'rainy'}, inplace=True)
print(df_monthWise_wetCycling.head())

# Replace the 'rainy' column values to something meaningful
df_monthWise_wetCycling.replace({'rainy':{True:"wet", False:"dry"}}, inplace=True)
print("\n\n", df_monthWise_wetCycling.head())

# Use the 'month' column and create a new column 'month_names'
import calendar
df_monthWise_wetCycling['month_name'] = df_monthWise_wetCycling['month'].apply(lambda x: calendar.month_abbr[x])
print("\n\n", df_monthWise_wetCycling.head())

   month  rainy  days
0      1  False    16
1      1   True     6
2      2  False    19
3      2   True     1
4      3  False    18


    month rainy  days
0      1   dry    16
1      1   wet     6
2      2   dry    19
3      2   wet     1
4      3   dry    18


    month rainy  days month_name
0      1   dry    16        Jan
1      1   wet     6        Jan
2      2   dry    19        Feb
3      2   wet     1        Feb
4      3   dry    18        Mar

# Get aggregate stats for each day in the dataset

In [17]:
# View the original DataFrame
print(df_new.head())

# Use aggregator pipeline syntax [Similar to that of MongoDB]
df_rainyDays = df_new.groupby('day').agg({
                                            'rain': {'rain':lambda x: (x > 0.0).any(),
                                                     'rain_amount':'sum'}, 
                                            'total_rain':{'total_rain':'max'},
                                            'wet_cycle':{'wet_cycle':'any'}
                                         })

df_rainyDays.reset_index(inplace=True)    # Resets the index back to integer index.
print(df_rainyDays)

                 date    station  temp  rain  total_rain  humidity  wind  \
0 2015-01-01 00:00:00  IEDINBUR6  10.3   0.0         0.0      67.0   9.0
1 2015-01-01 00:06:00  IEDINBUR6  10.2   0.0         0.0      67.0   6.9
2 2015-01-01 00:11:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.2
3 2015-01-01 00:16:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.9
4 2015-01-01 00:21:00  IEDINBUR6  10.2   0.0         0.0      68.0   4.3

          day time_of_day  day_of_week  hour_of_day  month  working_day  \
0  2015-01-01    00:00:00            3            0      1         True
1  2015-01-01    00:06:00            3            0      1         True
2  2015-01-01    00:11:00            3            0      1         True
3  2015-01-01    00:16:00            3            0      1         True
4  2015-01-01    00:21:00            3            0      1         True

   morning  evening  raining  wet_cycle
0    False    False    False      False
1    False    False    False      False
2    False    False    False      False
3    False    False    False      False
4    False    False    False      False
            day   rain             total_rain wet_cycle
                  rain rain_amount total_rain wet_cycle
0    2015-01-01   True        52.2        4.6      True
1    2015-01-02   True        52.0        4.8     False
2    2015-01-03  False         0.0        0.0     False
3    2015-01-04  False         0.0        0.0     False
4    2015-01-05  False         0.0        0.0     False
5    2015-01-06   True        21.6        1.8      True
6    2015-01-07   True        53.9        5.1      True
7    2015-01-08   True        89.5        7.6     False
8    2015-01-09   True        41.2        3.3      True
9    2015-01-10   True        72.0        6.1     False
10   2015-01-11   True        61.2        5.1     False
11   2015-01-12   True        66.3        5.1      True
12   2015-01-13   True        21.5        1.8     False
13   2015-01-14   True        10.8        1.0     False
14   2015-01-15   True        18.0        1.5     False
15   2015-01-16  False         0.0        0.0     False
16   2015-01-17  False         0.0        0.0     False
17   2015-01-18   True         3.6        0.3     False
18   2015-01-19  False         0.0        0.0     False
19   2015-01-20  False         0.0        0.0     False
20   2015-01-21  False         0.0        0.0     False
21   2015-01-22   True         7.2        0.5     False
22   2015-01-23   True        25.2        2.3      True
23   2015-01-24  False         0.0        0.0     False
24   2015-01-25   True         5.4        0.5     False
25   2015-01-26  False         0.0        0.0     False
26   2015-01-27  False         0.0        0.0     False
27   2015-01-28   True        41.3        3.6     False
28   2015-01-29   True         3.6        0.3     False
29   2015-01-30  False         0.0        0.0     False
..          ...    ...         ...        ...       ...
334  2015-12-01   True        77.4        6.9      True
335  2015-12-02   True        19.8        1.8      True
336  2015-12-03   True       275.1       23.9      True
337  2015-12-04   True        37.8        3.3      True
338  2015-12-05   True        93.8        8.1     False
339  2015-12-06   True       118.1       10.2     False
340  2015-12-07   True        14.4        1.3     False
341  2015-12-08   True        14.4        1.3      True
342  2015-12-09   True        79.1        6.9      True
343  2015-12-10   True        61.0        5.1     False
344  2015-12-11   True        28.7        2.3     False
345  2015-12-12   True        12.6        1.3     False
346  2015-12-13   True        10.8        1.0     False
347  2015-12-14   True        18.0        1.5     False
348  2015-12-15   True        18.0        1.5     False
349  2015-12-16  False         0.0        0.0     False
350  2015-12-17  False         0.0        0.0     False
351  2015-12-18  False         0.0        0.0     False
352  2015-12-19  False         0.0        0.0     False
353  2015-12-20   True         7.2        4.6     False
354  2015-12-21   True        14.4        1.5     False
355  2015-12-22   True        41.3        3.6      True
356  2015-12-23   True        36.0        3.3     False
357  2015-12-24   True       135.7       12.7     False
358  2015-12-25   True        46.8        4.6      True
359  2015-12-26   True       438.8       38.6     False
360  2015-12-27  False         0.0        0.0     False
361  2015-12-28  False         0.0        0.0     False
362  2015-12-29  False         0.0        0.0     False
363  2015-12-30   True        36.0        3.0      True

[364 rows x 5 columns]

C:\Users\parul\Anaconda3\lib\site-packages\pandas\core\groupby\groupby.py:4658: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [18]:
# Print the DataFrame
print(df_rainyDays.head())                          # We observe that the columns have levels....eliminate it

          day   rain             total_rain wet_cycle
                rain rain_amount total_rain wet_cycle
0  2015-01-01   True        52.2        4.6      True
1  2015-01-02   True        52.0        4.8     False
2  2015-01-03  False         0.0        0.0     False
3  2015-01-04  False         0.0        0.0     False
4  2015-01-05  False         0.0        0.0     False

In [19]:
# Drop a level of the columns
df_rainyDays.columns = df_rainyDays.columns.droplevel(level=0)
print(df_rainyDays.head())

                rain  rain_amount  total_rain  wet_cycle
0  2015-01-01   True         52.2         4.6       True
1  2015-01-02   True         52.0         4.8      False
2  2015-01-03  False          0.0         0.0      False
3  2015-01-04  False          0.0         0.0      False
4  2015-01-05  False          0.0         0.0      False

In [20]:
# Check the datatype of the column 'rain'
print(type(df_rainyDays.rain[0]))                              # [numpy.bool_]

# Incase it isnt a boolean, Convert the datatype to boolean
df_rainyDays['rain'] = df_rainyDays['rain'].astype(bool)

# Check the datatype again
print(df_rainyDays.head())

<class 'numpy.bool_'>
                rain  rain_amount  total_rain  wet_cycle
0  2015-01-01   True         52.2         4.6       True
1  2015-01-02   True         52.0         4.8      False
2  2015-01-03  False          0.0         0.0      False
3  2015-01-04  False          0.0         0.0      False
4  2015-01-05  False          0.0         0.0      False

In [21]:
# The first column doesnt have a label - Assign it a label say 'date'
df_rainyDays.rename(columns={"":'date'}, inplace=True)
print(df_rainyDays.head())

         date   rain  rain_amount  total_rain  wet_cycle
0  2015-01-01   True         52.2         4.6       True
1  2015-01-02   True         52.0         4.8      False
2  2015-01-03  False          0.0         0.0      False
3  2015-01-04  False          0.0         0.0      False
4  2015-01-05  False          0.0         0.0      False

In [22]:
# Further equip this DataFrame with the actual number of Hours/day it rained. 
# Print the original DatFrame
print(df_new.head())

temp = df_new.groupby(['day', 'hour_of_day'])['raining'].any()
print("\n\n\n\n", temp.head())

                 date    station  temp  rain  total_rain  humidity  wind  \
0 2015-01-01 00:00:00  IEDINBUR6  10.3   0.0         0.0      67.0   9.0
1 2015-01-01 00:06:00  IEDINBUR6  10.2   0.0         0.0      67.0   6.9
2 2015-01-01 00:11:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.2
3 2015-01-01 00:16:00  IEDINBUR6  10.2   0.0         0.0      67.0   7.9
4 2015-01-01 00:21:00  IEDINBUR6  10.2   0.0         0.0      68.0   4.3

          day time_of_day  day_of_week  hour_of_day  month  working_day  \
0  2015-01-01    00:00:00            3            0      1         True
1  2015-01-01    00:06:00            3            0      1         True
2  2015-01-01    00:11:00            3            0      1         True
3  2015-01-01    00:16:00            3            0      1         True
4  2015-01-01    00:21:00            3            0      1         True

   morning  evening  raining  wet_cycle
0    False    False    False      False
1    False    False    False      False
2    False    False    False      False
3    False    False    False      False
4    False    False    False      False




 day         hour_of_day
2015-01-01  0              False
            1              False
            2              False
            3              False
            4              False
Name: raining, dtype: bool

In [23]:
# Further refine this Series 'temp' to calculate the total number of hours it rained on the particular day
temp = temp.groupby(level=[0]).sum().reset_index() 
print(temp.head())

# Rename the columns
temp.rename(columns={'raining':'hours_raining'}, inplace=True)
print(temp.head())

          day  raining
0  2015-01-01     10.0
1  2015-01-02      8.0
2  2015-01-03      0.0
3  2015-01-04      0.0
4  2015-01-05      0.0
          day  hours_raining
0  2015-01-01           10.0
1  2015-01-02            8.0
2  2015-01-03            0.0
3  2015-01-04            0.0
4  2015-01-05            0.0

In [24]:
# Merge the 2 dataframes viz...temp and df_rainyDays on the common column 'date' in df_rainyDays
df_rainyDays = df_rainyDays.merge(temp, left_on='date', right_on='day', how='left')
print(df_rainyDays.head())

         date   rain  rain_amount  total_rain  wet_cycle         day  \
0  2015-01-01   True         52.2         4.6       True  2015-01-01
1  2015-01-02   True         52.0         4.8      False  2015-01-02
2  2015-01-03  False          0.0         0.0      False  2015-01-03
3  2015-01-04  False          0.0         0.0      False  2015-01-04
4  2015-01-05  False          0.0         0.0      False  2015-01-05

   hours_raining
0           10.0
1            8.0
2            0.0
3            0.0
4            0.0

In [25]:
# observe that the columns 'date' and 'day' are redundant. Eliminate this
df_rainyDays.drop('day', axis=1, inplace=True)
print(df_rainyDays.head())

         date   rain  rain_amount  total_rain  wet_cycle  hours_raining
0  2015-01-01   True         52.2         4.6       True           10.0
1  2015-01-02   True         52.0         4.8      False            8.0
2  2015-01-03  False          0.0         0.0      False            0.0
3  2015-01-04  False          0.0         0.0      False            0.0
4  2015-01-05  False          0.0         0.0      False            0.0

# Conclusion:

In [33]:
# Print Summary Stats
print("In the year 2015, there were {} rainy days of {} at {}".format(df_rainyDays['rain'].sum(), len(df_rainyDays), "Edinburgh"))

print("\nIt was wet while cycling {} working days of {} at {}".format(df_wetCycling['wet_cycle'].sum(), 
                                                                      len(df_wetCycling), "Edinburgh"))

print("\nYou get wet cycling {} % of the time!!".format((100/len(df_wetCycling)) * df_wetCycling['wet_cycle'].sum()))

In the year 2015, there were 194 rainy days of 364 at Edinburgh

It was wet while cycling 44 working days of 260 at Edinburgh

You get wet cycling 16.923076923076923 % of the time!!

### Reference: https://www.shanelynn.ie/analysis-of-weather-data-using-pandas-python-and-seaborn/