# Pre-requisites- Load the library

In [4]:
import pandas as pd

In [7]:
# Create a DataFrame
data = {'fName': ['Ria', 'Tina', 'John', 'Tim'], 
        'lName': ['Mathew', 'Duhan', 'Burns', 'Cooper'], 
        'sex': ['female', 'female', 'male', 'male']}

df = pd.DataFrame(data, columns=['fName', 'lName', 'sex'])
df

  fName   lName     sex
0   Ria  Mathew  female
1  Tina   Duhan  female
2  John   Burns    male
3   Tim  Cooper    male

In [8]:
# Create a set of dummy variables for the 'sex' column
df_dummy_sex = pd.get_dummies(df['sex'])
df_dummy_sex

   female  male
0       1     0
1       1     0
2       0     1
3       0     1

In [11]:
# Merge the 2 DataFrames
df_new = pd.concat([df, df_dummy_sex], axis=1)
print(df_new)
print()

# [OR]
df_new = df.join(df_dummy_sex)
print(df_new)

  fName   lName     sex  female  male
0   Ria  Mathew  female       1     0
1  Tina   Duhan  female       1     0
2  John   Burns    male       0     1
3   Tim  Cooper    male       0     1

  fName   lName     sex  female  male
0   Ria  Mathew  female       1     0
1  Tina   Duhan  female       1     0
2  John   Burns    male       0     1
3   Tim  Cooper    male       0     1