# Ordinal Variables:
An ordinal variable is a categorical variable for which the possible values are ordered. Ordinal variables can be considered “in between” categorical and quantitative variables. Even though we can order these from lowest to highest, the spacing between the values may not be the same across the levels of the variables.

### Example: Food score ratings could be categorized as:
    1: Super
    2: Excellent
    3: Good
    4: Average
    5: Bad

In [2]:
# Load the library
import pandas as pd

In [5]:
# Create the feature matrix
df = pd.DataFrame({'restaurants':['ABC', 'PWQ', 'ZYX', 'RRR', 'POP'],
                   'food_score':['Super', 'Good', 'Good', 'Bad', 'Super']})

df

  restaurants food_score
0         ABC      Super
1         PWQ       Good
2         ZYX       Good
3         RRR        Bad
4         POP      Super

In [6]:
# Create an ordinal scale mapper
scale_map = {'Super':4, 
             'Excellent':3, 
             'Good':2,
             'Average':1,
             'Bad':0}

In [8]:
# Map the scale to the feature
df['food_scale'] = df['food_score'].replace(scale_map)
df

  restaurants food_score  food_scale
0         ABC      Super           4
1         PWQ       Good           2
2         ZYX       Good           2
3         RRR        Bad           0
4         POP      Super           4