# Access Data

In [1]:
import pandas as pd
df = pd.read_csv("Churn_Modelling.csv")

print("\nData Type of the object which stores data:------------->\n", type(df))

print("\nColumns in the dataset:----------->\n", df.columns)

print("\nColumn datatypes:------------->\n", df.dtypes)

print("\nThe initial rows:------------->\n", df.head())

print("\nThe shape of the dataset:---------->\n", df.shape)

Data Type of the object which stores data:------------->
 <class 'pandas.core.frame.DataFrame'>

Columns in the dataset:----------->
 Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'GenderCategory', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

Column datatypes:------------->
 RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
GenderCategory       int64
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

The initial rows:------------->
    RowNumber  CustomerId   Surname  CreditScore Geography  GenderCategory  \
0          1    15634602  Hargrave          619    France               1
1          2    15647311      Hill          608     Spain               1
2          3    15619304      Onio          502    France               1
3          4    15701354      Boni          699    France               1
4          5    15737888  Mitchell          850     Spain               1

   Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0  Female   42       2       0.00              1          1               1
1  Female   41       1   83807.86              1          0               1
2  Female   42       8  159660.80              3          1               0
3  Female   39       1       0.00              2          0               0
4  Female   43       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

The shape of the dataset:---------->
 (10000, 15)

# Splice Data
# Use anyone of the 3 functions:
## .loc(rows, columns) - Used to slice on the basis of indexes, labels(column names)
## .iloc(rows, columns) - Integer based slicing, doesnt take ,into consideration column names
## .ix() -

In [2]:
df.loc[:,  ["Geography"]]                          # All rows within the column "Geography"
df.loc[:,  ["Geography", "CustomerId", "Age"]]     # All rows within the column "Geography", "CustomerId", "Age"
df.loc[:9, ["Geography", "CustomerId", "Age"]]     # Few rows within the column "Geography", "CustomerId", "Age" 
df.loc[10:15]                                      # Range of rows for all columns

df.iloc[:4]                                        # Only rows are specified from 0 till 4 (not included), all columns covered
df.iloc[1:5, 2:4]                                  # Only rows 1,2,3,4 and columns 2 & 3.

    Surname  CreditScore
1      Hill          608
2      Onio          502
3      Boni          699
4  Mitchell          850

# Determine Unique

In [3]:
df.Geography.unique()
df.Gender.unique()
df.GenderCategory.unique()

array([1, 0], dtype=int64)

# Group Data

In [4]:
# Guess the "Gender" and the "GenderCategory" columns represent the same information. 
# Lets go a group by and check - They should return the same number of rows.
df.groupby(["Gender", "GenderCategory"]).size()

# Lets try the same thing for a different column
df.groupby(["Gender", "Geography"]).size()

Gender  Geography
Female  France       2261
        Germany      1193
        Spain        1089
Male    France       2753
        Germany      1316
        Spain        1388
dtype: int64